{% extends "layouts/main.html" %}

{% block content %}
  <a class="govuk-back-link" href="{{ backHref or '/entry' }}">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="govuk-caption-l">{{ councilDisplayName }}</p>
      <h1 class="govuk-heading-l">Manage users and roles</h1>

      {% if addUserSuccess %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="manage-users-success-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="manage-users-success-title">Success</h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">User added to the council account.</p>
          </div>
        </div>
      {% endif %}

      {% if roleUpdateSuccess %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="manage-users-update-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="manage-users-update-title">Success</h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">User roles updated.</p>
          </div>
        </div>
      {% endif %}

      {% if canManageUsers %}
        <div class="govuk-button-group govuk-!-margin-bottom-6">
          <a class="govuk-button" href="/manage-users/add">Add user</a>
        </div>
      {% endif %}

      <table class="govuk-table">
        <caption class="govuk-visually-hidden">Users with access to this council account</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">User</th>
            <th scope="col" class="govuk-table__header">Roles</th>
            <th scope="col" class="govuk-table__header">Status</th>
            {% if canManageUsers %}
              <th scope="col" class="govuk-table__header">Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for member in account.users %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                {{ member.name }}<br>
                <span class="govuk-hint govuk-!-margin-bottom-0">{{ member.email }}</span>
                {% if member.orgName %}
                  <br><span class="govuk-hint govuk-!-margin-bottom-0">{{ member.orgName }}</span>
                {% endif %}
              </th>
              <td class="govuk-table__cell">{{ member.roleLabels | join(", ") }}</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag {% if member.status == 'active' %}govuk-tag--green{% else %}govuk-tag--grey{% endif %}">{{ member.status | capitalize }}</strong>
              </td>
              {% if canManageUsers %}
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/manage-users/{{ member.id }}">Edit roles</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
{% endblock %}
