{# app/views/pages/stages/1-understand-caf.html #}
{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ labels.stages.stage1.heading }}</h1>

      <p class="govuk-body govuk-!-font-size-19">{{ labels.stages.stage1.intro }}</p>
      <p class="govuk-body">{{ labels.stages.stage1.programmeGoal }}</p>

      <h2 class="govuk-heading-m">At a glance</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ labels.stages.stage1.whoHeading }}</dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for item in labels.stages.stage1.whoList %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ labels.stages.stage1.timeHeading }}</dt>
          <dd class="govuk-summary-list__value">{{ labels.stages.stage1.timeText }}</dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">CAF structure</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ labels.stages.stage1.structure.objectives.title }}</dt>
          <dd class="govuk-summary-list__value">{{ labels.stages.stage1.structure.objectives.text }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ labels.stages.stage1.structure.principles.title }}</dt>
          <dd class="govuk-summary-list__value">{{ labels.stages.stage1.structure.principles.text }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ labels.stages.stage1.structure.outcomes.title }}</dt>
          <dd class="govuk-summary-list__value">{{ labels.stages.stage1.structure.outcomes.text }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ labels.stages.stage1.structure.igps.title }}</dt>
          <dd class="govuk-summary-list__value">{{ labels.stages.stage1.structure.igps.text }}</dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Two assessment lenses</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-6">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ labels.stages.stage1.lens.ad.title }}</dt>
          <dd class="govuk-summary-list__value">{{ labels.stages.stage1.lens.ad.text }}</dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">{{ labels.stages.stage1.lens.bc.title }}</dt>
          <dd class="govuk-summary-list__value">{{ labels.stages.stage1.lens.bc.text }}</dd>
        </div>
      </dl>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">{{ labels.stages.stage1.profileDetails.heading }}</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">{{ labels.stages.stage1.profileDetails.text }}</p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">{{ labels.stages.stage1.evidenceDetails.heading }}</span>
        </summary>
        <div class="govuk-details__text">
          <p class="govuk-body">{{ labels.stages.stage1.evidenceDetails.text }}</p>
        </div>
      </details>

      <form method="post" action="/stages/1">
        <button class="govuk-button" data-module="govuk-button" type="submit">
          {{ labels.stages.stage1.continue }}
        </button>
      </form>
    </div>
    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-m govuk-!-margin-top-0">Guidance to help you understand the CAF for local government</h2>
      <ul class="govuk-list govuk-body-s">
        <li><a class="govuk-link" href="#">About the CAF for local government</a></li>
        <li><a class="govuk-link" href="#">Overview of the CAF for local government</a></li>
        <li><a class="govuk-link" href="#">Objectives, principles and contributing outcomes of the CAF</a></li>
        <li><a class="govuk-link" href="#">How the CAF relates to other cyber standards</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
