{# app/views/pages/stages/scope-systems-methodology.html #}
{% extends "layouts/main.html" %}

{% block content %}
  <a class="govuk-back-link" href="/stages/2/scope">Back</a>

  <h1 class="govuk-heading-l">Identify critical systems</h1>
  <p class="govuk-body">
    Explain the method you used to decide which systems are critical for your CAF assessment.
  </p>

  <form method="post" action="/stages/2/scope/systems/methodology">
    {% if error %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">There is a problem</h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for item in error.items %}
                <li><a href="#{{ item.field }}">{{ item.text }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="govuk-form-group {% if error and (error.items | selectattr('field','equalto','criticalMethodologyConfirmed') | list | length) > 0 %}govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Do you already have a defined methodology for identifying critical systems?</legend>
        {% if error and (error.items | selectattr('field','equalto','criticalMethodologyConfirmed') | list | length) > 0 %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ (error.items | selectattr('field','equalto','criticalMethodologyConfirmed') | list | first).text }}
          </p>
        {% endif %}
        <div class="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="criticalMethodologyConfirmed-yes" name="criticalMethodologyConfirmed" type="radio" value="yes" {% if assessment.scope.criticalMethodology.confirmed %}checked{% endif %}>
            <label class="govuk-label govuk-radios__label" for="criticalMethodologyConfirmed-yes">Yes</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="criticalMethodologyConfirmed-no" name="criticalMethodologyConfirmed" type="radio" value="no" {% if assessment.scope.criticalMethodology.completed and assessment.scope.criticalMethodology.confirmed == false %}checked{% endif %}>
            <label class="govuk-label govuk-radios__label" for="criticalMethodologyConfirmed-no">No</label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-form-group {% if error and (error.items | selectattr('field','equalto','criticalMethodologyNotes') | list | length) > 0 %}govuk-form-group--error{% endif %}">
      <label class="govuk-label" for="criticalMethodologyNotes">Summary of the methodology followed</label>
      {% if error and (error.items | selectattr('field','equalto','criticalMethodologyNotes') | list | length) > 0 %}
        <p class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span>
          {{ (error.items | selectattr('field','equalto','criticalMethodologyNotes') | list | first).text }}
        </p>
      {% endif %}
      <textarea class="govuk-textarea" id="criticalMethodologyNotes" name="criticalMethodologyNotes" rows="4">{{ assessment.scope.criticalMethodology.notes or '' }}</textarea>
    </div>

    <h2 class="govuk-heading-m">Review dates</h2>
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date reviewed</legend>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label" for="criticalMethodologyQaName">CAF quality assurer name</label>
              <input class="govuk-input govuk-!-width-two-thirds" id="criticalMethodologyQaName" name="criticalMethodologyQaName" type="text" value="{{ assessment.scope.criticalMethodology.qaReviewedBy or '' }}">
            </div>
            <div class="govuk-date-input" id="criticalMethodologyQaReviewed">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="criticalMethodologyQaDay">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="criticalMethodologyQaDay" name="criticalMethodologyQaDay" type="text" inputmode="numeric" value="{{ assessment.scope.criticalMethodology.qaReviewed.day or '' }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="criticalMethodologyQaMonth">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="criticalMethodologyQaMonth" name="criticalMethodologyQaMonth" type="text" inputmode="numeric" value="{{ assessment.scope.criticalMethodology.qaReviewed.month or '' }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="criticalMethodologyQaYear">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="criticalMethodologyQaYear" name="criticalMethodologyQaYear" type="text" inputmode="numeric" value="{{ assessment.scope.criticalMethodology.qaReviewed.year or '' }}">
                </div>
              </div>
            </div>
          </div>
          <div class="govuk-grid-column-one-half">
            <div class="govuk-form-group">
              <label class="govuk-label" for="criticalMethodologyApproverName">CAF approver name</label>
              <input class="govuk-input govuk-!-width-two-thirds" id="criticalMethodologyApproverName" name="criticalMethodologyApproverName" type="text" value="{{ assessment.scope.criticalMethodology.approverReviewedBy or '' }}">
            </div>
            <div class="govuk-date-input" id="criticalMethodologyApproverReviewed">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="criticalMethodologyApproverDay">Day</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="criticalMethodologyApproverDay" name="criticalMethodologyApproverDay" type="text" inputmode="numeric" value="{{ assessment.scope.criticalMethodology.approverReviewed.day or '' }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="criticalMethodologyApproverMonth">Month</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="criticalMethodologyApproverMonth" name="criticalMethodologyApproverMonth" type="text" inputmode="numeric" value="{{ assessment.scope.criticalMethodology.approverReviewed.month or '' }}">
                </div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="criticalMethodologyApproverYear">Year</label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="criticalMethodologyApproverYear" name="criticalMethodologyApproverYear" type="text" inputmode="numeric" value="{{ assessment.scope.criticalMethodology.approverReviewed.year or '' }}">
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button" type="submit">Save and continue</button>
  </form>
{% endblock %}
