{% extends "layouts/main.html" %}
{% from "components/page-header.njk" import appPageHeader %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ appPageHeader({
        caption: councilDisplayName,
        title: "Set up what you're assessing"
      }) }}

      <p class="govuk-body">Before you start your assessment, you need to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>add your council's strategic context</li>
        <li>list your council's essential services</li>
        <li>list the critical systems that support them</li>
      </ul>

      <a class="govuk-button" href="/onboarding/scope">{{ "Continue" if scopeStarted else "Start" }}</a>

    </div>
  </div>
{% endblock %}
