{% extends "layouts/main.html" %}

{% block content %}
  <a class="govuk-back-link" href="/round-2/sign-in">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for item in error.items %}
                  <li><a href="#{{ item.field }}">{{ item.text }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-l">Set up your council account</h1>
      <p class="govuk-body">Enter your council name to continue to your council account.</p>

      <form method="post" action="/council-setup" data-council-setup-form data-council-email="{{ currentUser.email or '' }}">
        <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
          <label class="govuk-label" for="councilSetupName">Council name</label>
          <div class="govuk-hint">For example, Dorset Council.</div>
          {% if error %}
            <p class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{ error.items[0].text }}
            </p>
          {% endif %}
          <input
            class="govuk-input govuk-!-width-two-thirds"
            id="councilSetupName"
            name="councilSetupName"
            type="text"
            autocomplete="organization"
            value="{{ councilName }}"
          >
        </div>

        <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}
