{% extends "layouts/main.html" %}

{% block content %}
  <h1 class="govuk-heading-l">User research rounds</h1>
  <p class="govuk-body">Choose which prototype journey you want to test.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Round 1 baseline</h2>
      <p class="govuk-body">Use the first-round journey exactly as it was used in initial research.</p>
      <a class="govuk-link" href="/research-rounds/round-1">Open Round 1</a>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Round 2 iteration</h2>
      <p class="govuk-body">Use this for updated journey changes for second-round research.</p>
      <a class="govuk-link" href="/research-rounds/round-2">Open Round 2</a>
    </div>
  </div>
{% endblock %}
