{# app/views/pages/research-start.html #}
{% extends "layouts/main.html" %}

{% block content %}
  {% set backHref = "/research-rounds" %}
  {% set pageTitle = "Research start" %}
  {% set roleHeading = "Choose a role" %}
  {% if researchRound == "round-2" %}
    {% set backHref = "/round-2/access" %}
    {% set pageTitle = "Choose a prototype user profile" %}
    {% set roleHeading = "Prototype role selection" %}
  {% endif %}
  <a class="govuk-back-link" href="{{ backHref }}">Back</a>

  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  <p class="govuk-caption-m">{{ researchRoundLabel or "Round 1" }}</p>
  <p class="govuk-body">
    {% if researchRound == "round-2" %}
      Choose a prototype user profile to continue through the Round 2 onboarding journey.
    {% else %}
      Choose a role before you begin.
    {% endif %}
  </p>

  <h2 class="govuk-heading-m">{{ roleHeading }}</h2>
  {% if researchRound == "round-2" %}
    <p class="govuk-hint">This step is only used for research so you can enter the prototype as a specific council, assurer, or MHCLG user.</p>
  {% endif %}
  {% if error %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for item in error.items %}
              <li><a href="#researchUserId-{{ users[0].id }}">{{ item.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <form method="post" action="/research-start">
    <input type="hidden" name="nextPath" value="{{ nextPath or '' }}">
    <input type="hidden" name="researchRound" value="{{ researchRound or 'round-1' }}">
    <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Select who you are testing as
        </legend>
        {% if error %}
          <p class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            {{ error.items[0].text }}
          </p>
        {% endif %}
        <div class="govuk-radios">
          {% for user in users %}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="researchUserId-{{ user.id }}" name="researchUserId" type="radio" value="{{ user.id }}">
              <label class="govuk-label govuk-radios__label" for="researchUserId-{{ user.id }}">
                {{ user.name }}
                {% if user.roleTitle %}
                  <span class="govuk-hint">{{ user.roleTitle }}</span>
                {% endif %}
                {% if user.orgName %}
                  <span class="govuk-hint">{{ user.orgName }}</span>
                {% endif %}
              </label>
            </div>
          {% endfor %}
        </div>
      </fieldset>
    </div>
    <button class="govuk-button" data-module="govuk-button" type="submit">Start journey</button>
  </form>

{% endblock %}
