{% extends "layouts/main.html" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
  <a class="govuk-back-link" href="/research-start?round={{ researchRound or 'round-1' }}">Back</a>

  <h1 class="govuk-heading-l">Sign in</h1>
  <p class="govuk-caption-m">{{ researchRoundLabel or "Round 1" }}</p>
  <p class="govuk-body">Enter your details to continue as {{ selected.name }}.</p>

  <form method="post" action="/research-start/sign-in-details">
    <div class="govuk-form-group">
      <label class="govuk-label" for="signInName">Name</label>
      <input class="govuk-input govuk-!-width-two-thirds" id="signInName" name="signInName" type="text" value="{{ defaults.name }}">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="signInEmail">Email</label>
      <input class="govuk-input govuk-!-width-two-thirds" id="signInEmail" name="signInEmail" type="email" value="{{ defaults.email }}">
    </div>

    <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
  </form>
    </div>
  </div>
{% endblock %}
