{% extends "layouts/main.html" %}
{% from "components/page-header.njk" import appPageHeader %}

{% block content %}
  <a class="govuk-back-link" href="/assessments/current/annual-setup">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ appPageHeader({
        caption: "Assessment setup",
        title: "Organisation self-assessment"
      }) }}

      <p class="govuk-body">Complete your organisation self-assessment. This shows how your council manages cyber security risk.</p>

      <p class="govuk-body">It covers things like:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>governance</li>
        <li>asset management</li>
        <li>supply chain security</li>
      </ul>

      <p class="govuk-body">You can reuse your answers in future cycles.</p>

      <p class="govuk-body">Update your assessment if something significant changes, such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a major restructure</li>
        <li>a serious incident</li>
        <li>a change in risk</li>
      </ul>

      <form method="post" action="/assessments/current/annual-setup/organisation/first-time">
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" type="submit">Continue</button>
          <a class="govuk-link" href="/assessments/current/journey">Return to task list</a>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
