{% extends "layouts/main.html" %}
{% from "components/section-start.njk" import appSectionStart %}

{% block content %}
  <a class="govuk-back-link" href="/assessments/current/review-scope">Back</a>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

  {{ appSectionStart({
    caption: "Assessment setup",
    title: "Choose what to assess",
    intro: "Choose which critical systems to assess.",
    guidanceHeading: "Help with this step",
    guidanceItems: [
      "This choice only applies to this cycle.",
      "Your organisation self-assessment is automatically included.",
      "You can choose up to 3 critical systems.",
      "If you do not choose any critical systems, you can complete the organisation self-assessment only."
    ],
    action: "/assessments/current/annual-setup",
    buttonText: "Continue",
    secondaryHref: "/assessments/current/journey",
    secondaryText: "Return to task list"
  }) }}
    </div>
  </div>
{% endblock %}
