{% extends "layouts/main.html" %}

{% block content %}
  <a class="govuk-back-link" href="/assurer-alpha/dashboard">Back</a>

  <span class="govuk-caption-l">Submission overview</span>
  <h1 class="govuk-heading-l">{{ assessment.councilName }} CAF assessment</h1>
  <p class="govuk-body">{{ assessment.summary }}</p>

  <div class="govuk-inset-text">
    <p class="govuk-body govuk-!-margin-bottom-0">As an assurer, you are providing an independent view of this submission on behalf of MHCLG. Your position should be based on the evidence and indicators provided.</p>
  </div>

  <dl class="govuk-summary-list govuk-!-margin-bottom-6">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Critical systems assessed</dt>
      <dd class="govuk-summary-list__value">{{ assessment.submissionSummary.criticalSystemsAssessed }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Outcomes to review</dt>
      <dd class="govuk-summary-list__value">{{ assessment.contributingOutcomeCount }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Evidence references included</dt>
      <dd class="govuk-summary-list__value">{{ evidenceReferenceCount }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Date submitted</dt>
      <dd class="govuk-summary-list__value">{{ assessment.submittedAt }}</dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Submitted by</dt>
      <dd class="govuk-summary-list__value">{{ assessment.submittedBy }}</dd>
    </div>
  </dl>

  <h2 class="govuk-heading-m">What you need to do</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>review each critical system outcome</li>
    <li>check reasons and evidence</li>
    <li>identify gaps or inconsistencies</li>
    <li>record your independent assurance position</li>
  </ul>

  <p class="govuk-body govuk-hint">The council may need to respond to your position or revise parts of the submission before it can move on.</p>

  <div class="govuk-button-group">
    <a class="govuk-button" href="/assurer-alpha/assessment/{{ assessment.id }}/critical-systems">Start assurance review</a>
  </div>
{% endblock %}
