{% extends "layouts/main.html" %}

{% block content %}
  <a class="govuk-back-link" href="{{ backHref }}">Back</a>

  {% if error and error.items %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for item in error.items %}
              <li><a href="#{{ item.field }}">{{ item.text }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  <span class="govuk-caption-l">{{ context.caption }}</span>
  <h1 class="govuk-heading-l">Check your outcome is ready</h1>

  <h2 class="govuk-heading-m">Outcome summary</h2>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Final judgement</dt>
      <dd class="govuk-summary-list__value">{{ reviewSummary.judgement }}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="{{ editLinks.judgement }}">Edit<span class="govuk-visually-hidden"> judgement</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Reason</dt>
      <dd class="govuk-summary-list__value">{{ reviewSummary.rationalePreview }}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="{{ editLinks.rationale }}">Edit<span class="govuk-visually-hidden"> reason</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Evidence references</dt>
      <dd class="govuk-summary-list__value">{% if reviewSummary.evidenceCount == 0 %}None added{% else %}{{ reviewSummary.evidenceCount }} added{% endif %}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="{{ editLinks.evidence }}">Edit<span class="govuk-visually-hidden"> evidence references</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">IGP responses</dt>
      <dd class="govuk-summary-list__value">{{ reviewSummary.igpResponses }}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="{{ editLinks.igp }}">Edit<span class="govuk-visually-hidden"> IGP responses</span></a></dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">Not applicable or alternative control responses</dt>
      <dd class="govuk-summary-list__value">{{ reviewSummary.explainedResponses }}</dd>
      <dd class="govuk-summary-list__actions"><a class="govuk-link" href="{{ editLinks.igp }}">Edit<span class="govuk-visually-hidden"> IGP responses</span></a></dd>
    </div>
  </dl>

  <form method="post" action="{{ formAction }}">
    <div class="govuk-form-group {% if error and (error.items | selectattr('field', 'equalto', 'b2aReviewDeclaration') | list | length) > 0 %}govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">Confirm this outcome is ready</legend>
        {% if error and (error.items | selectattr('field', 'equalto', 'b2aReviewDeclaration') | list | length) > 0 %}
          <p class="govuk-error-message" id="b2aReviewDeclaration-error">
            <span class="govuk-visually-hidden">Error:</span>
            {{ (error.items | selectattr('field', 'equalto', 'b2aReviewDeclaration') | list | first).text }}
          </p>
        {% endif %}
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="b2aReviewDeclaration" name="b2aReviewDeclaration" type="checkbox" value="yes" {% if form.declaration %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="b2aReviewDeclaration">I have reviewed this outcome and it is ready for internal review</label>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button" type="submit" data-module="govuk-button">Mark outcome as ready for internal review</button>
      <a class="govuk-link" href="/assessments/current/journey">Return to task list</a>
    </div>
  </form>
{% endblock %}
