{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block header %}

    {{ govukHeader({
        serviceName: serviceName,
        serviceUrl: "/entry",
        navigation: headerNavigation
    }) }}
    {% if showNavigation %}
      {% if currentUser %}
        {% set userIdentityHtml %}
          <li class="govuk-service-navigation__item">
            <span class="govuk-service-navigation__text">{{ currentUser.name }}{% if currentUser.orgName %} · {{ currentUser.orgName }}{% endif %}</span>
          </li>
        {% endset %}
        {{ govukServiceNavigation({
            serviceName: serviceName,
            navigation: navigation,
            slots: { navigationEnd: userIdentityHtml }
        })}}
      {% else %}
        {{ govukServiceNavigation({
            serviceName: serviceName,
            navigation: navigation
        })}}
      {% endif %}
    {% endif %}

{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    text: "This service is for research only. Do not use it to make real decisions."
  }) }}

  {% if showJourney and breadcrumbs.length > 0 %}
    {{ govukBreadcrumbs({ items: breadcrumbs }) }}
  {% endif %}
{% endblock %}
